.fill, .translate {
background-color: #FFB4A2 ;
width: 45%;
margin: 20px;
height: 45%;
border-radius: 10px;
box-shadow: 5px 3px 3px #E5989B;

display: flex;
flex-direction: column;
place-items: center;
justify-content: center;

border: 2px dotted #664343;

}
.fill:hover, .translate:hover {
background-color: #E5989B;
box-shadow: 3px 5px 5px #7C444F;
color: #664343;
}
.fill > h1 > a, .translate > h1 > a {
    text-decoration: none;
    color: #9F5255;
}

.decision {
width: 100vw;
height:100vh;
/* background-color: #FFCDB2; */

display:flex;
place-items: center;
justify-content: center;
}